<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
   <h1>hey you are in home page of queryset in django</h1> 
   {% comment %} this will return the queryset in the render page(home page) {% endcomment %}
   {% comment %} with the help of the for loop we can get this type of the data in the render page {% endcomment %}
   {% comment %} {{student_data}} {% endcomment %}
   {% for student in student_data %}
   <hr>
    {{student.id}} <br>
    {{student.name}} <br>
    {{student.roll_number}} <br>
    {{student.marks}} <br>
    {{student.address}} <br>
    {{student.res_date}} <br>
    <hr>
   {% endfor %}
</body>
</html>